//: GENERAL -------------------------------
prefer-no-csd
spawn-at-startup "kitty"
spawn-at-startup "yazi"
cursor { hide-when-typing; hide-after-inactive-ms 5000; }
overview { zoom 1; backdrop-color "#1e1e2e"; }
hotkey-overlay { skip-at-startup; }
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d_%H-%M-%S.png"

//: INPUT ---------------------------------
input {
    keyboard {
        xkb { }
        repeat-delay 400
        repeat-rate 30
        track-layout "global"
    }
    touchpad {
        tap
        accel-speed 0.3
        accel-profile "adaptive"
        scroll-factor 1.0
        scroll-method "two-finger"
        tap-button-map "left-right-middle"
        click-method "clickfinger"
    }
    mouse {
        accel-speed 0.0
        accel-profile "adaptive"
        scroll-factor 1.5
        scroll-method "on-button-down"
        scroll-button-lock
    }
    warp-mouse-to-focus
    focus-follows-mouse
    workspace-auto-back-and-forth
}

//: LAYOUT --------------------------------
layout {
    gaps 15
    background-color "#1e1e2e"
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    // default-column-display "tabbed"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    focus-ring {
        width 1.4
        active-color "#b7bdf8"
        inactive-color "#6e738d"
        urgent-color "#eed49f"
    }
    border { off; }
    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 0
        width 5
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 0
        corner-radius 1
        active-color "#b7bdf8"
        inactive-color "#6e738d"
        urgent-color "#eed49f"
    }
    insert-hint { color "#303446"; }
}


//: INCLUDE CONFIG FILES ------------------
include "binds.kdl"
include "rules.kdl"
include "profiles/config.kdl"
